.infor-user {
	font-family: sans-serif;
	display: grid;
	grid-template-columns: 1fr 4fr;
	padding: 50px;
	height: auto;
}

.infor-user .cover-pic {
	height: auto;
	overflow: hidden;
	background-image: url(./cover.png);
	background-position: center;
	background-size: cover;
	clip-path: circle(6em at center);
	padding: 0 30px;
}

/*div intro*/

.infor-user .intro .name {
	display: flex;
	align-items: center;
}

.infor-user .intro .name .user {
	font-weight: 300;
	font-size: 28px;
    line-height: 32px;
    white-space: nowrap;
}

.infor-user .intro .name .edit-info {
	width: 90px;
	height: 30px;
	border: 1px solid #DCDCDC;
	border-radius: 4px;
	margin-left: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #000;
	font-weight: bold;
	font-size: 14px;
    line-height: 18px; 
}

.infor-user .intro .name .setting {
	cursor: pointer;
	width: 40px;
	height: 40px;
	border: none;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 5px; 
}

.infor-user .intro .number {
	display: flex;
	list-style: none;
	padding: 0;
}

.infor-user .intro .number .number-in {
	margin-right: 40px;
}



