.option-bar {
	margin: 0 380px;
	font-family: sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	border-top: 1px solid #B1B1B1;
	border-collapse: collapse;
	position: relative;
}

.option-bar .option {
	padding: 20px 0;
	margin-right: 60px;
	text-decoration: none;
	color: #B1B1B1;
	border-collapse: collapse;
}

.option-bar .option:last-child {
	margin-right: 0;
}

.option-bar .option:focus {
	border-top: 1px solid #000;
	color: #000;
	outline: none;
}